tr {height:10px;}
div.scrollable-container{position: relative;}
div.scrolling-area{height: 800px;overflow: auto;}
.floatingHeader {
    position: fixed;
    top: 50px;
    visibility: hidden;
}
.new_class {padding-left:5px;}