tr {height:10px;}
div.scrollable-container{position: relative;}
div.scrolling-area{height: 800px;overflow: auto;}
.floatingHeader {
    position: fixed;
    top: 50px;
    visibility: hidden;
}
.new_class {padding-left:5px;}
.narrow{width:30%;}
.medium-width{width:50%;}
label{min-width:40px;}
.bolder{font-size: larger;
font-weight: 400;}
.no-screen{display:none;}
.red{font-weight:300;
    color: #0088ff;}
.blue{font-weight:300;
    color: #ff0000;}
.alert-info{max-width:400px;float: right;}
.alert-div{width:30%;float:right;margin-right: 20%;}
.move-off{font-weight: 700;}